<div class="d-flex flex-column align-items-center mt-5">
    <div class="d-flex flex-column align-items-center">
        <picture>
            <img src="https://res.cloudinary.com/dazypdtba/image/upload/v1614038641/public/uploads/logo-hack-away-low_avqj3v.jpg" alt="">
        </picture>    
    </div>
                            
    <div class="w-100 pb-5">
        <div class="row py-3 mx-auto px-3">
            <div class="col-sm-12 col-md-6 ">
                <div class="m-1 p-3">
                    <h3 class="text-center text-dark mb-3"><strong>- Try this products - </strong></h3>
                    {{#each products as |product|}}
                    <a href="/products/detail/{{product.id}}" class="text-decoration-none text-dark">
                        <div class="bg-dark my-3 d-flex flex-row" style="box-shadow: 9px 10px 6px -5px rgba(77,77,77,0.76);
                                                                                       -webkit-box-shadow: 9px 10px 6px -5px rgba(77,77,77,0.76);
                                                                                       -moz-box-shadow: 9px 10px 6px -5px rgba(77,77,77,0.76);"> 
                            
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <img src="{{product.avatarProd}}" alt="" style=" max-height:200px; width:100%; ">
                                </div>
                            
                                <div class="d-flex flex-column justify-content-around mt-2 col-xs-12 col-sm-6">
                                    <div class="p-3">
                                        <p class="text-white"><strong>{{product.name}}</strong></p>
                                        <P class="text-white-50">{{{maxText product.description}}}</P>
                                    </div>
                                </div>
                            
                            
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-12 col-md-6 ">
                <div class=" m-1 p-3">
                    <h3 class="text-center text-dark mb-3"><strong>- Know new Restaurants - </strong></h3>
                    {{#each users as |userList|}}
                    <a href="/users/profile/{{userList.id}}" class="text-decoration-none text-dark">
                         <div class="my-3 d-flex flex-row align-items-around bg-dark" style="box-shadow: 9px 10px 6px -5px rgba(77,77,77,0.76);
                                                                                       -webkit-box-shadow: 9px 10px 6px -5px rgba(77,77,77,0.76);
                                                                                       -moz-box-shadow: 9px 10px 6px -5px rgba(77,77,77,0.76);"> 
                            <div class="row">    
                                <div  class="col-xs-12 col-sm-6">                                               
                                    <img src="{{userList.avatar}}" alt="" style=" max-height:200px; width:100%; ">
                                </div>
                                
                                    <div class="d-flex flex-column justify-content-around mt-2 col-xs-12 col-sm-6">
                                        <div class="p-3">
                                            <p class="text-white"><strong>{{userList.name}}</strong></p>    
                                            <P class="text-white-50">{{{maxText userList.description}}}</P>
                                        </div>
                                    </div>
                                    
                                
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
         </div>
    </div>
</div>

