
<form  method="Post" action="/cart/create">
    <div>
        <h1 class="text-center my-4">Vista de Carrito</h1>
    </div>

    <div class="d-flex flex-row m-2 justify-content-end">
         <button class="btn btn-dark" type="submit">Continúa tu compra</button> 
    </div>

    <div>
        <div class="card d-flex flex-row justify-content-around m-2 p-2 bg-dark">
                <h5 class="text-white">Product</h5>
                <h5 class="text-white">Quantity</h5>
                <h5 class="text-white">Price(Ud)</h5>
                <h5 class="text-white">Total</h5>  
        </div>
    </div> 
    <div>
        {{#each order as |product|}} 
            <div class="card d-flex flex-row justify-content-around m-2 p-2">
                <div class="d-flex flex-column ">
                    <input type="text" name="name" value="{{product.name}}" >
                    <input type="text" name="createdBy" value="{{product.createdBy}}" >
                </div>
                <input type="number" name="qty" value="{{product.qty}}">
                <input type="number" name="price" value="{{product.price}}" >
                <input type="number" name="total" value="{{product.total}}" >
            </div>
        {{/each}}
    </div> 
    <div class="card d-flex flex-row  align-items-center justify-content-end m-2  p-2 bg-secondary">
        <h5 class="mx-1 text-white">Objetos totales: {{totalItems}} </h5>
        <h5 class="mx-1 text-white">Precio total: {{totalPrice}} €</h5>
    </div>

    <div class="d-flex flex-row m-2 justify-content-end">
         <button class="btn btn-dark" type="submit">Comprar</button> 
    </div>

</form>

