<div class="container-fluid w-75">

    <h1 class="text-center py-3">Log In Form</h1>

    <form method="post" action="/users/login" class="mb-5 mx-5 card p-3 bg-light justify-content-around">
     <div class="form-group mb-3">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}"
            placeholder="Enter email" value="{{user.email}}">
        {{#if errors.email }}<div class="invalid-feedback">{{errors.message}}</div>{{/if}}
        {{#if verification}}
      <div class="alert alert-warning" role="alert">
        Please verify your email account.
      </div>
    {{/if}}
    </div>     
    
    {{#if errors.email}}
        <div class="alert alert-danger" role="alert">
        {{errors.email}}
        </div>
    {{/if}}
    {{#if errors.message}}
        <div class="alert alert-danger" role="alert" class="invalid-feedback">
            {{errors.message}}
        </div>
    {{/if}}

        <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control {{#if errors.email}}is-invalid{{/if}}"
                    id="exampleInputPassword1" placeholder="Password">
                    {{#if errors.email}}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
        </div>
    {{#if errors.email}}
            <div class="alert alert-danger" role="alert">
    {{errors.email}}
        </div>
    {{/if}}

        <div class="row mt-3 justify-content-center">
            <button type="submit" class="btn btn-dark col-sx-12 col-md-3 m-1">Log In</button>
            <a class="btn btn-secondary btn-block col-sx-12 col-md-3 m-1" href="/authentication/google"> <i class="fa fa-google"></i> Login with Google </a>
            <a class="btn btn-success btn-block col-sx-12 col-md-3 m-1" href="/users/register">Create new User</a>
        </div>    
    </form>
    <hr>
    
</div>

