<div class="container-fluid w-75">

    <h1 class="text-center py-3">Log In Form</h1>

    <form method="post" action="/users/login" class="mb-5 mx-5 card p-3 bg-light justify-content-around">

        <div class="form-group mb-3">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control {{#if errors.user}}is-invalid{{/if}}"
                placeholder="Enter email" value="{{user.email}}">
            {{#if errors.user}}<div class="invalid-feedback">{{errors.user}} </div>{{/if}}
        </div>

    //nuevo
{{if errors.oauth}}
    <div class="alert alert-danger" role="alert">
        {{errors.oauth}}
    </div>
        {{/if}}
        <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
                    id="exampleInputPassword1" placeholder="Password">
                    {{#if errors.password}}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}
        </div>
        

        <div class="d-flex flex-row justify-content-around my-3">
            <button type="submit" class="btn btn-dark">Log In</button>
        
            <a class="btn btn-secondary btn-block" href="/authentication/google"> <i class="fa fa-google"></i> Login with Google </a>
            <a class="btn btn-primary btn-block" href="/users/register">Register</a>
            
        </div>
        <p class="text-center text-white">or <a href="/users/register" class="text-decoration-none text-dark">Create new User</a></p>

    </form>

    <hr>
    

</div>

